<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.bit.ex.mapper.AdminMapper">
	
	<!-- 게시판 Criteria -->
	<sql id="boardCriteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							board_name like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							board_content like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	
	<!-- 판매자 리스트 + 페이징 -->
	<select id="getSellerListWithCri" resultType="edu.bit.ex.vo.MbrVO">
	<![CDATA[
		select * from (
			     select rownum as rnum, a.* from (
			        		select
			                    *
			                from
			                    mbr  
			    ) a where rownum <= #{pageNum} * #{amount}
			) where rnum > (#{pageNum}-1) * #{amount} and authority_number=2
	]]>
	</select>
	
	<!-- 판매자 수 반환 -->
	<select id="getSellerTotalCount" resultType="int">
	<![CDATA[
		select count(*)	from mbr where authority_number=2
	]]>
	</select>
	
	<!-- 회원 상세 정보 -->
	<select id="getMemberInfo" resultType="edu.bit.ex.vo.MbrVO">
	<![CDATA[
		select * from mbr where mbr_id=#{m_id}
	]]>
	</select>
	
	<!-- 판매자 주소 --> 
	<select id="getSellerAddress" resultType="edu.bit.ex.vo.ShippingVO">
	<![CDATA[
		select * from shipping where mbr_id=#{m_id}
	]]>
	</select>
	
	<!-- 브랜드 상품리스트 + 페이징 common -->
	<select id="getSellerPrdctListWithCri" resultType="edu.bit.ex.vo.PrdctVO">
	<![CDATA[
		select * from (
			     select rownum as rnum, a.* from (
			        		select
			                    *
			                from
			                    prdct
			    ) a where rownum <= #{cri.pageNum} * #{cri.amount}
			) where rnum > (#{cri.pageNum}-1) * #{cri.amount} and mbr_id=#{m_id}
	]]>
	</select>
	
	<select id="getPrdctImg" resultType="edu.bit.ex.vo.BoardVO">
	<![CDATA[
		select * from board where mbr_id=#{mbr_id} and board_type_number=6
			     
	]]>
	</select>
	
	<!-- 전체 수 반환 common -->
	<select id="getSellerPrdctTotalCount" resultType="int">
	<![CDATA[
		select count(*)	from prdct where mbr_id=#{m_id}
	]]>
	</select>
	
	<!-- 판매자 정보 수정 admin seller-->
	<update id="sellerInfoUpdate">
	<![CDATA[
		update mbr set mbr_name=#{mbr_name}, mbr_pw=#{mbr_pw}, mbr_email=#{mbr_email}, contact_number=#{contact_number}  where mbr_id=#{mbr_id}
	]]>
	</update>
	
	<!-- 판매자 주소 수정 admin seller -->
	<update id="sellerAddressUpdate">
	<![CDATA[
		update shipping set shipping_address=#{shipping_address} where mbr_id=#{mbr_id}
	]]>
	</update>
	
	<!-- 판매자 정보 삭제====탈퇴=====보류 -->
	
	<!--  회원 리스트 + 페이징 -->
	<select id="getMemberListWithCri" resultType="edu.bit.ex.vo.MbrVO">
	<![CDATA[
		select * from (
			     select rownum as rnum, a.* from (
			        		select
			                    *
			                from
			                    mbr  
			    ) a where rownum <= #{pageNum} * #{amount}
			) where rnum > (#{pageNum}-1) * #{amount} and authority_number=3
	]]>
	</select>
	
	<!-- 전체 수 반환 common -->
	<select id="getMemberTotalCount" resultType="int">
	<![CDATA[
		select count(*)	from mbr where authority_number=3
	]]>
	</select>
	
	<!-- 회원정보수정 -->
	<update id="memberInfoUpdate">
	<![CDATA[
		update mbr set mbr_pw=#{mbr_pw}, mbr_email=#{mbr_email}, contact_number=#{contact_number}, mbr_gender=#{mbr_gender} where mbr_id=#{mbr_id}
	]]>
	</update>
	
	<!-- 회원 정보 삭제====탈퇴====보류 -->
	
	<!-- 판매자 등록 -->
	<insert id="addSellerInfo">
	<![CDATA[
		insert into mbr
		(mbr_id, mbr_pw, mbr_name, authority_number, mbr_birth, mbr_email, login_number, contact_number, mbr_nickname)
		values
		(#{mbr_id}, #{mbr_pw}, #{mbr_name}, 2, sysdate, #{mbr_email}, 1, #{contact_number}, #{mbr_nickname})
	]]>
	</insert>
	
	<insert id="addSellerAddress">
	<![CDATA[
		insert into shipping
		(mbr_id, shipping_address)
		values
		(#{mbr_id}, #{shipping_address})
	]]>
	</insert>
	
	<!-- 판매자 상품 정보 불러오기 -->
	<select id="getPrdctInfo" resultType="edu.bit.ex.vo.PrdctVO">
	<![CDATA[
		select * from prdct where prdct_id = #{p_id}
	]]>
	</select>
	
	<select id="getPrdctContent" resultType="edu.bit.ex.vo.BoardVO">
	<![CDATA[
		select * from board where prdct_id = #{p_id} and board_type_number=6
	]]>
	</select>
	
	<update id="updatePrdctInfo">
	<![CDATA[
		update prdct set prdct_name=#{prdct_name}, category_number=#{category_number}, prdct_color=#{prdct_color}, prdct_size = #{prdct_size},
		prdct_price=#{prdct_price}, prdct_stock=#{prdct_stock} where prdct_id=#{prdct_id}
	]]>
	</update>
	
	<update id="updatePrdctThumb">
	<![CDATA[
		update prdct set prdct_name=#{prdct_name}, category_number=#{category_number}, prdct_color=#{prdct_color}, prdct_size = #{prdct_size},
		prdct_price=#{prdct_price}, prdct_stock=#{prdct_stock}, prdct_thumbnail=#{prdct_thumbnail} where prdct_id=#{prdct_id}
	]]>
	</update>
	
	<update id="updatePrdctBoardInfo">
	<![CDATA[
		update board set board_content=#{board_content} where board_id=#{board_id}
	]]>
	</update>
	
	<select id="getSellerPrdctList" resultType="edu.bit.ex.joinvo.PrdctRegisterImageVO">
	<![CDATA[
		select * from board where mbr_id=#{mbr_id} and board_type_number=6
	]]>
	</select>
	
	<select id="getMemberOrderList" resultType="edu.bit.ex.vo.PrdctOrderVO">
	<![CDATA[
		select * from (
			     select rownum as rnum, a.* from (
			        		select
			                    p.order_number, p.order_price, p.order_date, o.order_state_name
			                from
			                    prdct_order p, order_state o
			                where 
								p.mbr_id=#{m_id} and p.order_state_number=o.order_state_number
			    ) a where rownum <= #{cri.pageNum} * #{cri.amount}
			) where rnum > (#{cri.pageNum}-1) * #{cri.amount}
	]]>
	</select>
	
	<select id="getOrderTotalCount" resultType="int">
	<![CDATA[
		select count(*) from prdct_order where mbr_id=#{m_id}
	]]>
	</select>
	
	<select id="getOrderDetail" resultType="edu.bit.ex.joinvo.PrdctOrdctDetailPrdctOrderVO">
	<![CDATA[
		select * from prdct_order po, order_detail o, prdct p 
		where po.order_number=#{order_number} and po.order_number=o.order_number and o.prdct_id=p.prdct_id
	]]>
	</select>
	
	<resultMap id="userqna" type="edu.bit.ex.vo.BoardVO">
		<result property="board_id" column="board_id" />
		<result property="board_name" column="board_name" />
		<result property="board_content" column="board_content" />
		<result property="mbr_id" column="mbr_id" />
		<result property="board_type_number" column="board_type_number" />
		<result property="inquiry_number" column="inquiry_number" />
		<result property="board_date" column="board_date" />
		<result property="prdct_id" column="prdct_id" />
		<result property="order_number" column="order_number" />
		<result property="board_like" column="board_like" />
		<result property="board_hit" column="board_hit" />
		<result property="board_starrate" column="board_starrate" />
		<result property="board_thumbnail" column="board_thumbnail" />
		<collection property="prdctVO" resultMap="prdctMap"></collection>
		<collection property="inquiryVO" resultMap="inquiryMap"></collection>
	</resultMap>
	
	<resultMap id="prdctMap" type="edu.bit.ex.vo.PrdctVO">
		<result property="prdct_id" column="prdct_id"/>
		<result property="prdct_name" column="prdct_name"/>
		<result property="prdct_price" column="prdct_price"/>
	</resultMap>
	
	<resultMap id="inquiryMap" type="edu.bit.ex.vo.InquiryVO">
		<result property="inquiry_number" column="inquiry_number"/>
		<result property="inquiry_name" column="inquiry_name"/>
	</resultMap>
	
	<select id="getUserQnAListWithCri" resultMap="userqna">
	<![CDATA[
		select distinct * from (
			     select rownum as rnum, a.* from (
			        		select
			                   distinct b.board_id, b.board_name, b.mbr_id, b.board_date, b.order_number, i.inquiry_name
			                from
			                    board b, inquiry i
                            where 
                               board_type_number=5 and b.inquiry_number= i.inquiry_number
			    ) a where rownum <= #{pageNum} * #{amount}
			) where rnum > (#{pageNum}-1) * #{amount}
	]]>
	</select>
	
	<select id="getUserQnATotalCount" resultType="int">
	<![CDATA[
		select count(*) from board where board_type_number=5
	]]>
	</select>
	
	<select id="getUserQnA" resultMap="userqna">
	<![CDATA[
		select *
		from board b, inquiry i
		where b.board_id=#{b_id} and b.inquiry_number= i.inquiry_number
	]]>
	</select>
	
	<insert id="userQnAComment">
	<![CDATA[
		insert into board_comment (comment_id, board_id, mbr_id, comment_content)
		values
		(board_comment_seq.nextval, #{board_id}, #{mbr_id}, #{comment_content})
	]]>
	</insert>
	
	<select id="getQnAComment" resultType="edu.bit.ex.vo.BoardCommentVO">
	<![CDATA[
		select *
		from board_comment
		where board_id=#{b_id}
	]]>
	</select>
	
</mapper>