<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.bit.ex.mapper.BoardMapper">
	<!-- 테스트용 공지사항 게시판 리스트 -->
	<select id="getNoticeList" resultType="edu.bit.ex.vo.BoardVO">
		<![CDATA[
			SELECT * 
			FROM board 
			WHERE board_type_number = 1 
			ORDER BY board_id DESC, board_date DESC
		]]>
	</select>
	
	<!-- 테스트용 매거진 게시판 리스트 -->
	<select id="getMagazineList" resultType="edu.bit.ex.vo.BoardVO">
		<![CDATA[
			SELECT * 
			FROM board 
			WHERE board_type_number = 2 
			ORDER BY board_id DESC, board_date DESC
		]]>
	</select>	

	<!-- 페이징을 적용한 공지사항 게시판 리스트 -->
	<select id="getNoticeListWithPaging" resultType="edu.bit.ex.vo.BoardVO">
		<![CDATA[
			SELECT * FROM (
			     SELECT ROWNUM AS RNUM, A.* FROM ( 
			        		SELECT * 
			                FROM board 
			                WHERE board_type_number = 1 
			                ORDER BY board_id DESC, board_date DESC 
			    ) A WHERE ROWNUM <= #{pageNum} * #{amount} 
			) WHERE RNUM > (#{pageNum}-1) * #{amount}
		]]>
	</select>
	
	<!-- 페이징 단위에 적용되는 최대 공지 게시글 단위 -->
	<select id="getNoticeTotalCount" resultType="int">
		<![CDATA[
			SELECT COUNT(*) 
			FROM board 
			WHERE board_type_number = 1
		]]>	
	</select>
	
	<!-- 공지사항 작성 -->
	<insert id="setNoticeWrite" >
		<![CDATA[
			INSERT INTO board (board_id, board_name, board_content, mbr_id, board_type_number, board_like, board_hit) 
			VALUES (board_seq.nextval, #{board_name}, #{board_content}, #{mbr_id}, 1, 0, 0) 
		]]>
	</insert>
	
	<!-- 공지사항 게시글(동적쿼리 적용) -->
	<select id="getNoticeContent" resultType="edu.bit.ex.vo.BoardVO">
		SELECT * 
		FROM board 
		<where> 
			<if test="board_id != null"> 
				board_id = #{board_id} 
			</if> 
		</where>
	</select>
	
	<!-- 공지사항 삭제 -->
	<delete id="noticeRemove">
		<![CDATA[
			DELETE FROM board 
			WHERE board_id = #{board_id}
		]]>
	</delete>
	
	<!-- 공지사항 수정 -->
	<update id="setNoticeModify">
		<![CDATA[
			UPDATE board 
			SET board_name = #{board_name}, board_content = #{board_content} 
			WHERE board_id = #{board_id}
		]]>
	</update>
	
	<!-- 페이징을 적용한 매거진 게시판 리스트 -->
	<select id="getMagazineListWithPaging" resultType="edu.bit.ex.vo.BoardVO">
		<![CDATA[
			SELECT * FROM (
			     SELECT ROWNUM AS RNUM, A.* FROM ( 
			        		SELECT board_id, board_name, board_date, board_like, board_hit, board_thumbnail 
							FROM board 
							WHERE board_type_number = 2  
							ORDER BY board_id DESC, board_date DESC 
			    ) A WHERE ROWNUM <= #{pageNum} * #{amount} 
			) WHERE RNUM > (#{pageNum}-1) * #{amount}
		]]> 
	</select>
	
	<!-- 페이징 단위에 적용되는 최대 매거진 게시글 단위 -->
	<select id="getMagazineTotalCount" resultType="int">
		<![CDATA[
			SELECT COUNT(*) 
			FROM board 
			WHERE board_type_number = 2
		]]>	
	</select>
	
	<!-- 매거진 작성 -->
	<insert id="setMagazineWrite" >
		<![CDATA[
			INSERT INTO board (board_id, board_name, board_content, mbr_id, board_type_number, board_like, board_hit, board_thumbnail) 
			VALUES (board_seq.nextval, #{board_name}, #{board_content}, #{mbr_id}, 2, 0, 0, #{board_thumbnail}) 
		]]>
	</insert> 
	
	<!-- 매거진 게시글(동적쿼리 적용) -->
	<select id="getMagazineContent" resultType="edu.bit.ex.vo.BoardVO">
		SELECT * 
		FROM board 
		<where> 
			<if test="board_id != null"> 
				board_id = #{board_id} 
			</if> 
		</where>
	</select>
	
	<!-- 매거진 게시글 조회 -->
	<update id="upMagazineHit">
		<![CDATA[
			UPDATE board 
			SET board_hit = board_hit+1 
			WHERE board_id = #{board_id}
		]]>
	</update>
	
	<!-- 매거진 게시글 추천 -->
	<update id="magazineUpLike">
		<![CDATA[
			UPDATE board 
			SET board_like = board_like+1 
			WHERE board_id = #{board_id}
		]]>
	</update>
	
	<!-- 매거진 게시글 댓글 수 -->
	<select id="getMagazineCommentCnt" resultType="edu.bit.ex.vo.BoardCommentVO">
		<![CDATA[
			SELECT COUNT(comment_id) AS comment_count 
			FROM board_comment 
			WHERE board_id = #{board_id}
		]]>
	</select>

	<!-- 페이징을 적용한 매거진 게시판 댓글 리스트 -->
	<select id="getMagazineComment" resultType="edu.bit.ex.joinvo.BoardBoardCommentVO">
		<![CDATA[
			SELECT * FROM (
			     SELECT ROWNUM AS RNUM, A.* FROM ( 
			        		SELECT b.board_id, c.comment_id, c.comment_content, c.comment_date, c.mbr_id, m.mbr_nickname 
							FROM board_comment c, mbr m, board b 
							WHERE c.mbr_id = m.mbr_id AND 
							    c.board_id = b.board_id AND 
							    b.board_id = #{board_id} 
							ORDER BY c.comment_id DESC, c.comment_date DESC 
			    ) A WHERE ROWNUM <= #{cri.pageNum} * #{cri.amount} 
			) WHERE RNUM > (#{cri.pageNum}-1) * #{cri.amount}
		]]>
	</select>
	
	<!-- 페이징 단위에 적용되는 최대 매거진 게시글 댓글 단위 -->
	<select id="getMagazineCommentTotalCount" resultType="int">
		<![CDATA[
			SELECT COUNT(*) 
			FROM board_comment 
			WHERE board_id = #{board_id}
		]]>	
	</select>
	
	<!-- 매거진 게시글 댓글 작성 -->
	<insert id="setMagazineCommentWrite">
		<![CDATA[
			INSERT INTO board_comment (comment_id, board_id, mbr_id, comment_content) 
			VALUES (board_comment_seq.nextval, #{board_id}, #{mbr_id}, #{comment_content}) 
		]]>
	</insert>
	
	<!-- 매거진 게시글 댓글 삭제 -->
	<delete id="magazineCommentRemove">
		<![CDATA[
			DELETE FROM board_comment 
			WHERE comment_id = #{comment_id}
		]]>
	</delete>
	
	<!-- 매거진 썸네일만 삭제 -->
	<update id="magazineImageOnlyRemove">
		<![CDATA[
			UPDATE board 
			SET board_thumbnail = null 
			WHERE board_id = #{board_id}
		]]>
	</update>
	
	<!-- 매거진 삭제 -->
	<delete id="magazineRemove">
		<![CDATA[
			DELETE FROM board 
			WHERE board_id = #{board_id}
		]]>
	</delete>		
	
	<!-- 매거진 수정 -->
	<update id="setMagazineModify">
		<![CDATA[
			UPDATE board 
			SET board_name = #{board_name}, board_content = #{board_content} 
			WHERE board_id = #{board_id}
		]]>
	</update>
	
	<!-- 매거진 수정페이지 썸네일까지 변경 -->
	<update id="setMagazineModifyAddImg" >
		<![CDATA[
			UPDATE board 
			SET board_name = #{board_name}, board_content = #{board_content}, board_thumbnail = #{board_thumbnail} 
			WHERE board_id = #{board_id}
		]]>
	</update>	
</mapper>