<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.bit.ex.mapper.CustomerMapper">

	<!-- 상품 Q&A 상품 id 가져오기(나중에수정..)-->
	<select id="getProductQnARegister" resultType="edu.bit.ex.vo.PrdctVO">
	<![CDATA[
		SELECT * FROM prdct WHERE prdct_id = 'PRDCT22'
	]]>
	</select>
	
	<select id="getMemberInfo" resultType="edu.bit.ex.vo.MbrVO">
	<![CDATA[
		select * from mbr where mbr_id=#{m_id}
	]]>
	</select>
	
	<!-- 리뷰 등록페이지 회원정보 가져오기 -->
	<select id="getCustomerInfo" resultType="edu.bit.ex.vo.MbrVO">
	<![CDATA[
		select * from mbr where mbr_id=#{mbr_id}
	]]>
	</select>
	
	<!-- 리뷰 등록 작성 -->
	<insert id="rivewWrite" parameterType="map">
	<![CDATA[
		insert into board (board_id, board_content, mbr_id, board_type_number, prdct_id, order_number , board_starrate)
			values (board_seq.nextval, #{board_content}, #{mbr_id}, 3, #{prdct_id}, 48, #{board_starrate})
	]]>
	</insert>
	
</mapper>