<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.bit.ex.mapper.EjMapper">
	<!-- 장바구니 리스트  common -->
	<resultMap id="cartMap" type="edu.bit.ex.vo.CartVO">
	    <result property="cart_number" column="cart_number"/>
	    <result property="cart_price" column="cart_price"/>
	    <result property="cart_date" column="cart_date"/>
	</resultMap>
	
	<resultMap id="mbrMap" type="edu.bit.ex.vo.MbrVO">
		<result property="mbr_id" column="mbr_id"/>
	</resultMap>
	
	<resultMap id="cartDMap" type="edu.bit.ex.vo.CartDetailVO">
		<result property="cart_color" column="cart_color"/>
		<result property="cart_size" column="cart_size"/>
		<result property="cart_amount" column="cart_amount"/>
		<result property="prdct_price" column="prdct_price"/>
	</resultMap>
	
	<select id="getCartList" resultMap="cartMap">
		select cart_number, cart_price, cart_date from cart
	</select>
	
	<!-- 상품상세페이지 common -->
	<select id="getProductDetail" resultType="edu.bit.ex.vo.PrdctVO">
	<![CDATA[
		SELECT * FROM prdct WHERE prdct_id = #{prdct_id}
	]]>
	</select>
	
	<!-- 상품상세페이지 옵션 common -->
	<select id="getProductInfo" resultType="edu.bit.ex.vo.PrdctDetailVO">
	<![CDATA[
		SELECT * FROM prdct_detail WHERE prdct_id = #{prdct_id}
	]]>
	</select>
	
	<!-- 상품상세 이미지 common -->
	<resultMap id="getprdDetailImageMap" type="edu.bit.ex.vo.PrdctImageVO">
	    <result property="image_number" column="image_number"/>
	    <result property="image_name" column="image_name"/>
	    <result property="image_path" column="image_path"/>
		<collection property="board_id" resultMap="prdListMap"></collection>
	</resultMap>	
	<resultMap id="prdListMap" type="edu.bit.ex.vo.BoardVO">
		<result property="board_id" column="board_id"/>
	</resultMap>
	<select id="getprdDetailImage" resultMap="getprdDetailImageMap">
		SELECT p.image_name 
		FROM prdct_image p, board b 
		WHERE p.board_id = b.board_id AND 
		    p.image_number = (SELECT MIN(image_number) 
		                      FROM prdct_image 
		                      WHERE #{board_id} = #{board_id}) 
		ORDER BY p.image_number ASC
	</select>
	
	<!--  상품 담기 common
	<resultMap id="getprdDetailCartInMap" type="edu.bit.ex.vo.PrdctVO">
	    <result property="prdct_id" column="prdct_id"/>
	    <result property="prdct_name" column="prdct_name"/>
	    <result property="prdct_price" column="prdct_price"/>
		<collection property="mbr_id" resultMap="prdmbrMap"></collection>
	</resultMap>	
	<resultMap id="prdListMap" type="edu.bit.ex.vo.PrdctDetailVO">
		<result property="prdct_color" column="prdct_color"/>
		<result property="prdct_size" column="prdct_size"/>
	</resultMap>
	<insert id="PrdDetailCartIn">
		insert into 
	</insert> -->
	
	<!-- 페이징을 적용한 상품 Q&A 게시판 리스트 customer -->
	<select id="getPrdQnAListWithPaging" resultType="edu.bit.ex.vo.BoardVO">
		<![CDATA[
			SELECT * FROM (
			     SELECT ROWNUM AS RNUM, A.* FROM ( 
			        		SELECT * 
			                FROM board 
			                WHERE board_type_number = 4
			                ORDER BY board_date DESC 
			    ) A WHERE ROWNUM <= #{cri.pageNum} * #{cri.amount} 
			) WHERE RNUM > (#{cri.pageNum}-1) * #{cri.amount} and prdct_id = #{p_id} 
		]]>
	</select>
	
	<!-- 페이징 단위에 적용되는 최대 공지 게시글 단위 customer -->
	<select id="getPrdQnATotalCount" resultType="int">
	<![CDATA[
		SELECT COUNT(*) FROM board WHERE board_type_number = 4
	]]>	
	</select>

</mapper>