<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.bit.ex.mapper.KSPMapper">
	
	<!-- 전체 상품리스트 + 페이징 -->
	<select id="getPrdctListWithPaging" resultType="edu.bit.ex.vo.PrdctVO">
	<![CDATA[
		select * from (
			     select rownum as rnum, a.* from (
			        		select
			                    *
			                from
			                    prdct  
			    ) a where rownum <= #{pageNum} * #{amount}
			) where rnum > (#{pageNum}-1) * #{amount}
	]]>
	</select>
	
	<!-- 전체 수 반환 -->
	<select id="getTotalCount" resultType="int">
	<![CDATA[
		select count(*)	from prdct
	]]>
	</select>
	
	<!-- 카테고리 상품리스트 + 페이징 -->
	<select id="getCategoryPrdctList" resultType="edu.bit.ex.vo.PrdctVO">
	<![CDATA[
		select * from (
			     select rownum as rnum, a.* from (
			        		select
			                    *
			                from
			                    prdct  
			    ) a where rownum <= #{cri.pageNum} * #{cri.amount}
			) where rnum > (#{cri.pageNum}-1) * #{cri.amount} and category_number=#{c_id}
	]]>
	</select>
	
	<!-- 전체 수 반환 -->
	<select id="getCategoryTotalCount" resultType="int">
	<![CDATA[
		select count(*)	from prdct where category_number=#{c_id}
	]]>
	</select>
	
	<select id="getCategory" resultType="edu.bit.ex.vo.CategoryVO">
	<![CDATA[
		select * from category where category_number=#{c_id}
	]]>
	</select>
	
	<!-- 브랜드 상품리스트 + 페이징 -->
	<select id="getBrandPrdctList" resultType="edu.bit.ex.vo.PrdctVO">
	<![CDATA[
		select * from (
			     select rownum as rnum, a.* from (
			        		select
			                    *
			                from
			                    prdct  
			    ) a where rownum <= #{cri.pageNum} * #{cri.amount}
			) where rnum > (#{cri.pageNum}-1) * #{cri.amount} and mbr_id=#{b_id}
	]]>
	</select>
	
	<!-- 전체 수 반환 -->
	<select id="getBrandTotalCount" resultType="int">
	<![CDATA[
		select count(*)	from prdct where mbr_id=#{b_id}
	]]>
	</select>
	
	<!-- 회원정보수정 -->
	<update id="memberInfoUpdate">
	<![CDATA[
		update mbr set mbr_pw=#{mbr_pw}, mbr_email=#{mbr_email}, contact_number=#{contact_number}, mbr_gender=#{mbr_gender} where mbr_id=#{mbr_id}
	]]>
	</update>
	
	<!-- 판매자 주소 --> 
	<select id="getSellerAddress" resultType="edu.bit.ex.vo.ShippingVO">
	<![CDATA[
		select * from shipping where mbr_id=#{m_id}
	]]>
	</select>
	
	<!-- 판매자 정보 수정 -->
	<update id="sellerInfoUpdate">
	<![CDATA[
		update shipping as s, mbr as m set s.shipping_address=#{shipping_address}, m.mbr_pw=#{mbr_pw}, m.mbr_email=#{mbr_email}, m.contact_number=#{contact_number} where m.mbr_id=#{mbr_id} and s.mbr_id=#{mbr_id}
	]]>
	</update>
	
</mapper>