<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.bit.ex.mapper.MemberMapper">

	<!-- 상품 Q&A 페이지 회원정보 가져오기 -->
	<select id="getPrdctQnaInfo" resultType="edu.bit.ex.vo.MbrVO">
	<![CDATA[
		select * from mbr where mbr_id=#{mbr_id}
	]]>
	</select>
	
	<select id="prdctInfo" resultType="edu.bit.ex.vo.PrdctVO">
	<![CDATA[
		select * from prdct where prdct_id = #{mbr_id}
	]]>
	</select>
	
	<!-- 상품 Q&A 등록 작성 -->
	<insert id="prdctQnaWrite" parameterType="map">
	<![CDATA[
		insert into board (board_id, board_name, board_content, mbr_id, board_type_number, inquiry_number, prdct_id)
			values (board_seq.nextval, #{board_name}, #{board_content}, #{mbr_id}, 4, #{inquiry_number}, #{prdct_id})
	]]>
	</insert>
	
	<select id="getMemberInfo" resultType="edu.bit.ex.vo.MbrVO">
	<![CDATA[
		select * from mbr where mbr_id=#{m_id}
	]]>
	</select>
	
	<!-- 리뷰 등록페이지 회원정보 가져오기 -->
	<select id="getCustomerInfo" resultType="edu.bit.ex.vo.MbrVO">
	<![CDATA[
		select * from mbr where mbr_id=#{mbr_id}
	]]>
	</select>
	
	<!-- 리뷰 등록 작성 -->
	<insert id="rivewWrite" parameterType="map">
	<![CDATA[
		insert into board (board_id, board_content, mbr_id, board_type_number, prdct_id, order_number , board_starrate)
			values (board_seq.nextval, #{board_content}, #{mbr_id}, 3, #{prdct_id}, 66, #{board_starrate})
	]]>
	</insert>
	
	<!-- 리뷰 마이페이지 리스트 -->
	<resultMap type="edu.bit.ex.vo.PrdctOrderVO" id="order">
		<result property="order_number" column="order_number" />
		<result property="order_price" column="order_price" />
		<result property="order_date" column="order_date" />
		<result property="mbr_id" column="mbr_id" />
		<collection property="orderDetailVO" resultMap="orderDt"></collection>
		<collection property="boardVO" resultMap="orderReview"></collection>
	</resultMap>

	<resultMap id="orderDt" type="edu.bit.ex.vo.OrderDetailVO">
		<result property="order_number" column="order_number" />
		<result property="prdct_id" column="prdct_id" />
		<result property="order_color" column="order_color" />
		<result property="order_size" column="order_size" />
		<result property="order_amount" column="order_amount" />
		<result property="prdct_price" column="prdct_price" />
	</resultMap>
	
	<resultMap id="orderReview" type="edu.bit.ex.vo.BoardVO">
		<result property="board_id" column="board_id" />
		<result property="board_name" column="board_name" />
		<result property="board_content" column="board_content" />
		<result property="mbr_id" column="mbr_id" />
		<result property="board_type_number" column="board_type_number" />
		<result property="inquiry_number" column="inquiry_number" />
		<result property="board_date" column="board_date" />
		<result property="prdct_id" column="prdct_id" />
		<result property="order_number" column="order_number" />
		<result property="board_like" column="board_like" />
		<result property="board_hit" column="board_hit" />
		<result property="board_starrate" column="board_starrate" />
	</resultMap>
	

	<!-- 리뷰 마이페이지 리스트 -->	
	<select id="getMyReviewList" resultType="edu.bit.ex.joinvo.BoardBoardCommentVO">

		<![CDATA[
			SELECT * FROM ( 
			     SELECT ROWNUM AS RNUM, A.* FROM ( 
			        		SELECT b.board_id, b.prdct_id,b.board_name,b.board_content,b.inquiry_number, b.board_date, b.mbr_id, c.comment_id, c.comment_content, c.comment_date, m.mbr_nickname 
							FROM board_comment c, mbr m, board b, prdct p
							WHERE b.mbr_id = m.mbr_id AND 
							    c.board_id = b.board_id and
							    b.board_type_number = 3
							ORDER BY b.board_date desc
			    ) A WHERE ROWNUM <= #{cri.pageNum} * #{cri.amount} 
			) WHERE RNUM > (#{cri.pageNum}-1) * #{cri.amount}
		]]>
	</select>
	
	<select id="reviewMyList" resultType="edu.bit.ex.joinvo.PrdctOrderDetailBoardVO">
		<![CDATA[
			SELECT p.order_number, p.order_price, p.order_date, d.order_color, d.order_size, d.prdct_name, d.order_amount
			FROM prdct_order p, order_detail d, board_type b
			WHERE p.mbr_id = #{member_id} AND
			p.order_number = d.order_number AND
            b.board_type_number = 3
			ORDER BY p.order_date DESC
		]]>
	</select>
	
	<!-- 작성한 리뷰 응답여부 받아오기 -->
	<select id="getPrdctrCmntStat" resultType="edu.bit.ex.joinvo.BoardBoardCommentVO">
	<![CDATA[
		SELECT COUNT(comment_id) AS comment_count FROM board_comment c, board b WHERE c.board_id = b.board_id
	]]>
	</select>
	
	<!-- 페이징 단위에 적용되는 최대 리뷰 게시글 단위 -->
	<select id="getReviewTotal" resultType="int">
	<![CDATA[
		SELECT COUNT(*) FROM board WHERE board_type_number = 4
	]]>	
	</select>
	
	<select id="reviewContent" resultType="edu.bit.ex.vo.BoardVO">
		<![CDATA[
			select  * from board where board_type_number = 3 and mbr_id = #{member_id}
		]]>
	</select>
	
	<!-- 작성한 고객 Q&A 리스트 받아오기 -->
	<select id="getMyqListWithPaging" resultType="edu.bit.ex.vo.BoardVO">
		<![CDATA[
			SELECT * FROM ( 
			     SELECT ROWNUM AS RNUM, A.* FROM ( 
			        		SELECT mbr_id, board_id, board_name, board_date, inquiry_number 
							FROM board 
							WHERE mbr_id = #{mbr_id} AND 
								board_type_number = 5 
							ORDER BY board_id DESC, board_date DESC 
			    ) A WHERE ROWNUM <= #{cri.pageNum} * #{cri.amount} 
			) WHERE RNUM > (#{cri.pageNum}-1) * #{cri.amount}
		]]>
	</select>
	
	<!-- 페이징 단위에 적용되는 최대 고객 Q&A 게시글 단위 -->
	<select id="getMyqnaTotalCount" resultType="int">
	<![CDATA[
		SELECT COUNT(*) FROM board WHERE board_type_number = 5
	]]>	
	</select>
	
	<!-- 작성한 고객 Q&A 응답여부 받아오기 -->
	<select id="getMyqCmntStat" resultType="edu.bit.ex.vo.BoardCommentVO">
	<![CDATA[
		SELECT c.comment_id, b.board_id 
		FROM board_comment c, board b 
		WHERE c.board_id = b.board_id AND 
		    b.board_type_number = 5 AND 
		    c.comment_id IN (SELECT MIN(comment_id) 
		                     FROM board_comment 
		                     GROUP BY board_id) 
		ORDER BY b.board_id DESC
	]]>
	</select>
	
	<!-- 고객 Q&A 작성페이지 문의 유형 받아오기 -->
	<select id="getMyqInquiry" resultType="edu.bit.ex.vo.InquiryVO">
		<![CDATA[	
			SELECT inquiry_number, inquiry_name FROM inquiry
		]]>
	</select>
	
	<!-- 고객 QnA 작성 -->
	<insert id="setmyqnaWriting" >
	<![CDATA[
		INSERT INTO board (board_id, board_name, board_content, mbr_id, board_type_number, inquiry_number, board_hit) 
		VALUES (board_seq.nextval, #{board_name}, #{board_content}, #{mbr_id}, 5, #{inquiry_number}, 0) 
	]]>
	</insert>
	
	<!-- 고객 QnA 상세페이지 -->
	<select id="getMyqContent" resultType="edu.bit.ex.joinvo.InquiryBoardVO">
	<![CDATA[
		SELECT i.inquiry_name, b.board_id, b.board_name, b.board_content, b.board_date 
		FROM inquiry i, board b 
		WHERE i.inquiry_number = b.inquiry_number AND 
		    b.board_type_number = 5 AND 
		    b.board_id = #{board_id}
	]]>
	</select>
	
	<!-- 고객 QnA 상세페이지 판매자가 작성한 댓글 리스트 받아오기 -->
	<select id="getMyqComment" resultType="edu.bit.ex.vo.BoardCommentVO">
	<![CDATA[
		SELECT * FROM board_comment WHERE board_id = #{board_id}
	]]>
	</select>
	
	<!-- 고객 QnA 수정 -->
	<update id="setmyqnaModify">
	<![CDATA[
		UPDATE board SET board_name = #{board_name}, board_content = #{board_content}, inquiry_number = #{inquiry_number} WHERE board_id = #{board_id}
	]]>
	</update>

	<!-- 고객 QnA 삭제 -->
	<delete id="myqnaRemove">
	<![CDATA[
		DELETE FROM board WHERE board_id = #{board_id}
	]]>
	</delete>
	
	<!-- 회원정보 수정 -->
	<update id="memberInfoUpdate">
	<![CDATA[
		UPDATE mbr SET mbr_pw = #{mbr_pw}, mbr_email = #{mbr_email}, contact_number = #{contact_number}, mbr_gender = #{mbr_gender} WHERE mbr_id = #{mbr_id}
	]]>
	</update>
	
	<select id="getPrdctqMyListWithPaging" resultType="edu.bit.ex.joinvo.BoardBoardCommentVO">
		<![CDATA[
			SELECT * FROM ( 
			     SELECT ROWNUM AS RNUM, A.* FROM ( 
			        		SELECT b.board_id, b.prdct_id,b.board_name,b.board_content,b.inquiry_number, b.board_date, b.mbr_id, c.comment_id, c.comment_content, c.comment_date, m.mbr_nickname 
							FROM board_comment c, mbr m, board b 
							WHERE b.mbr_id = m.mbr_id AND 
							    c.board_id = b.board_id and
							    b.board_type_number = 4
							ORDER BY c.comment_id DESC, c.comment_date DESC, b.board_date desc
			    ) A WHERE ROWNUM <= #{cri.pageNum} * #{cri.amount} 
			) WHERE RNUM > (#{cri.pageNum}-1) * #{cri.amount}
		]]>
	</select>
	
	<!-- 페이징 단위에 적용되는 최대 상품 Q&A 게시글 단위 -->
	<select id="getPrdctqTotalCount" resultType="int">
	<![CDATA[
		SELECT COUNT(*) FROM board WHERE board_type_number = 4
	]]>	
	</select>
	
	<!-- 작성한 상품 Q&A 응답여부 받아오기 -->
	<select id="getPrdctqCmntStat" resultType="edu.bit.ex.joinvo.BoardBoardCommentVO">
	<![CDATA[
		SELECT COUNT(comment_id) AS comment_count FROM board_comment c, board b WHERE c.board_id = b.board_id
	]]>
	</select>
	
	<!-- 찜했던 상품 리스트 받아오기 -->
	<select id="getLikePrdctList" resultType="edu.bit.ex.joinvo.BoardPrdctPrdctLikeVO">
	<![CDATA[
		SELECT p.prdct_thumbnail, p.prdct_name, p.mbr_id, p.prdct_price, p.prdct_id 
		FROM board b, prdct p, prdct_like l 
		WHERE l.prdct_id = p.prdct_id AND 
		    l.board_id = b.board_id AND 
		    b.board_type_number = 6 AND 
		    l.mbr_id = #{mbr_id}
	]]>
	</select>
	
	<!-- 주문내역 리스트 가져오기 -->
	<select id="getOrderMyList" resultType="edu.bit.ex.joinvo.PrdctOrdctDetailPrdctOrderVO">
	<![CDATA[
		SELECT o.order_number, p.prdct_thumbnail, p.prdct_id, p.mbr_id AS brand_id, p.prdct_name, d.order_color, d.order_size, o.order_date, o.order_price, d.order_amount, o.order_state_number 
		FROM prdct p, order_detail d, prdct_order o 
		WHERE p.prdct_id = d.prdct_id AND 
		    o.order_number = d.order_number AND 
		    o.mbr_id = #{mbr_id} 
		ORDER BY o.order_date DESC
	]]>
	</select>
	<select id="getOrderMyListPaging" resultType="edu.bit.ex.joinvo.PrdctOrdctDetailPrdctOrderVO">
	<![CDATA[
		SELECT * FROM (
			SELECT ROWNUM AS RNUM, A.* FROM ( 
			        		SELECT o.order_number, p.prdct_thumbnail, p.prdct_id, p.mbr_id AS brand_id, p.prdct_name, d.order_color, d.order_size, o.order_date, o.order_price, d.order_amount, o.order_state_number 
							FROM prdct p, order_detail d, prdct_order o 
							WHERE p.prdct_id = d.prdct_id AND 
							    o.order_number = d.order_number AND 
							    o.mbr_id = #{mbr_id} 
							ORDER BY o.order_date DESC     
	]]> 
	
	<![CDATA[					    
			) A WHERE ROWNUM <= #{cri.pageNum} * #{cri.amount} 
		) WHERE RNUM > (#{cri.pageNum}-1) * #{cri.amount}
	]]>
	</select>
	<!-- <if test="count >0">
		order by
		${sortquery}
	</if> -->
	
	<!-- 페이징 단위에 적용되는 최대 주문내역 단위 -->
	<select id="getOrderMyTotalCount" resultType="int">
		<![CDATA[
			SELECT COUNT(*) 
			FROM order_detail
		]]>	
	</select>
	
	<!-- 최근 본 상품 리스트 가져오기 -->
	<select id="getPrdctViewList" resultType="edu.bit.ex.joinvo.PrdctPrdctViewVO">
	<![CDATA[
		SELECT p.prdct_thumbnail, p.prdct_name, p.mbr_id AS brand_id, p.prdct_price, p.prdct_id, v.mbr_id 
		FROM prdct p, prdct_view v 
		WHERE p.prdct_id = v.prdct_id AND 
		    v.mbr_id = #{mbr_id} 
		ORDER BY v.view_date DESC
	]]>
	</select>
	<select id="getPrdctViewListPaging" resultType="edu.bit.ex.joinvo.PrdctPrdctViewVO">
	<![CDATA[
		SELECT * FROM (
			SELECT ROWNUM AS RNUM, A.* FROM ( 
			        		SELECT p.prdct_thumbnail, p.prdct_name, p.mbr_id AS brand_id, p.prdct_price, p.prdct_id, v.mbr_id 
							FROM prdct p, prdct_view v 
							WHERE p.prdct_id = v.prdct_id AND 
							    v.mbr_id = #{mbr_id} 
							ORDER BY v.view_date DESC 					    
			) A WHERE ROWNUM <= #{cri.pageNum} * #{cri.amount} 
		) WHERE RNUM > (#{cri.pageNum}-1) * #{cri.amount}
	]]>
	</select>
	
	<!-- 페이징 단위에 적용되는 최대 최근 본 상품 단위 -->
	<select id="getPrdctViewTotalCount" resultType="int">
		<![CDATA[
			SELECT COUNT(*) 
			FROM prdct_view
		]]>	
	</select>
	
	<!-- 마이 페이지 주문확인 -->
	<update id="orderStateUpdate" >
		<![CDATA[
			UPDATE prdct_order 
			SET order_state_number = 7 
			WHERE order_number = #{order_number}
		]]>
	</update>			 	
</mapper>