<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.bit.ex.mapper.MemberMapper">

	<!-- 상품 Q&A 페이지 회원정보 가져오기 -->
	<select id="getPrdctQnaInfo" resultType="edu.bit.ex.vo.MbrVO">
	<![CDATA[
		select * from mbr where mbr_id=#{mbr_id}
	]]>
	</select>
	
	<!-- 상품 Q&A 등록 작성 -->
	<insert id="prdctQnaWrite" parameterType="map">
	<![CDATA[
		insert into board (board_id, board_name, board_content, mbr_id, board_type_number, inquiry_number, prdct_id)
			values (board_seq.nextval, #{board_name}, #{board_content}, #{mbr_id}, 4, #{inquiry_number}, #{prdct_id})
	]]>
	</insert>
	
	<select id="getMemberInfo" resultType="edu.bit.ex.vo.MbrVO">
	<![CDATA[
		select * from mbr where mbr_id=#{m_id}
	]]>
	</select>
	
	<!-- 리뷰 등록페이지 회원정보 가져오기 -->
	<select id="getCustomerInfo" resultType="edu.bit.ex.vo.MbrVO">
	<![CDATA[
		select * from mbr where mbr_id=#{mbr_id}
	]]>
	</select>
	
	<!-- 리뷰 등록 작성 -->
	<insert id="rivewWrite" parameterType="map">
	<![CDATA[
		insert into board (board_id, board_content, mbr_id, board_type_number, prdct_id, order_number , board_starrate)
			values (board_seq.nextval, #{board_content}, #{mbr_id}, 3, #{prdct_id}, 66, #{board_starrate})
	]]>
	</insert>
	
	<!-- 리뷰 마이페이지 리스트 -->
	<resultMap type="edu.bit.ex.vo.PrdctOrderVO" id="order">
		<result property="order_number" column="order_number" />
		<result property="order_price" column="order_price" />
		<result property="order_date" column="order_date" />
		<result property="mbr_id" column="mbr_id" />
		<collection property="orderDetailVO" resultMap="orderDt"></collection>
		<collection property="boardVO" resultMap="orderReview"></collection>
	</resultMap>

	<resultMap id="orderDt" type="edu.bit.ex.vo.OrderDetailVO">
		<result property="order_number" column="order_number" />
		<result property="prdct_id" column="prdct_id" />
		<result property="order_color" column="order_color" />
		<result property="order_size" column="order_size" />
		<result property="order_amount" column="order_amount" />
		<result property="prdct_price" column="prdct_price" />
	</resultMap>
	
	<resultMap id="orderReview" type="edu.bit.ex.vo.BoardVO">
		<result property="board_id" column="board_id" />
		<result property="board_name" column="board_name" />
		<result property="board_content" column="board_content" />
		<result property="mbr_id" column="mbr_id" />
		<result property="board_type_number" column="board_type_number" />
		<result property="inquiry_number" column="inquiry_number" />
		<result property="board_date" column="board_date" />
		<result property="prdct_id" column="prdct_id" />
		<result property="order_number" column="order_number" />
		<result property="board_like" column="board_like" />
		<result property="board_hit" column="board_hit" />
		<result property="board_starrate" column="board_starrate" />
	</resultMap>
	
	<select id="reviewMyList" resultMap="order">
		<![CDATA[
			SELECT * from prdct_order po, order_detail od, board b 
			where po.mbr_id=#{member_id} 
			and po.order_number = od.order_number 
			and b.order_number = od.order_number
		]]>
	</select>
	
	<select id="reviewContent" resultType="edu.bit.ex.vo.BoardVO">
		<![CDATA[
			select * from board, prdct_order where prdct_order.mbr_id = board.mbr_id and board.board_type_number = 3 and board.order_number = prdct_order.order_number 
		]]>
	</select>
	
	<!-- 작성한 고객 Q&A 리스트 받아오기 -->
	<!-- <select id="getMyqList" resultType="edu.bit.ex.joinvo.BoardBoardCommentVO">
		<![CDATA[	
			SELECT mbr_id, board_id, board_name, board_date 
			FROM board 
			WHERE mbr_id = #{mbr_id} AND 
			    board_type_number = 5 
			ORDER BY board_id DESC, board_date DESC
		]]>
	</select> -->
	<select id="getMyqListWithPaging" resultType="edu.bit.ex.joinvo.BoardBoardCommentVO">
		<![CDATA[
			SELECT * FROM ( 
			     SELECT ROWNUM AS RNUM, A.* FROM ( 
			        		SELECT mbr_id, board_id, board_name, board_date 
							FROM board 
							WHERE mbr_id = #{mbr_id} AND 
							    board_type_number = 5 
							ORDER BY board_id DESC, board_date DESC 
			    ) A WHERE ROWNUM <= #{cri.pageNum} * #{cri.amount} 
			) WHERE RNUM > (#{cri.pageNum}-1) * #{cri.amount}
		]]>
	</select>
	
	<!-- 페이징 단위에 적용되는 최대 고객 Q&A 게시글 단위 -->
	<select id="getMyqnaTotalCount" resultType="int">
	<![CDATA[
		SELECT COUNT(*) FROM board WHERE board_type_number = 5
	]]>	
	</select>
	
	<!-- 작성한 고객 Q&A 응답여부 받아오기 -->
	<select id="getMyqCmntStat" resultType="edu.bit.ex.joinvo.BoardBoardCommentVO">
	<![CDATA[
		SELECT COUNT(comment_id) AS comment_count FROM board_comment WHERE board_id = #{board_id}
	]]>
	</select>
	
	<!-- 고객 Q&A 작성페이지 문의 유형 받아오기 -->
	<select id="getMyqInquiry" resultType="edu.bit.ex.vo.InquiryVO">
		<![CDATA[	
			SELECT inquiry_number, inquiry_name FROM inquiry
		]]>
	</select>
	
	<!-- 고객 QnA 작성 -->
	<insert id="setmyqnaWriting" >
	<![CDATA[
		INSERT INTO board (board_id, board_name, board_content, mbr_id, board_type_number, inquiry_number, board_hit) 
		VALUES (board_seq.nextval, #{board_name}, #{board_content}, #{mbr_id}, 5, #{inquiry_number}, 0) 
	]]>
	</insert>
	
	<!-- 고객 QnA 상세페이지 -->
	<select id="getMyqContent" resultType="edu.bit.ex.joinvo.InquiryBoardVO">
	<![CDATA[
		SELECT i.inquiry_name, b.board_id, b.board_name, b.board_content, b.board_date 
		FROM inquiry i, board b 
		WHERE i.inquiry_number = b.inquiry_number AND 
		    b.board_type_number = 5 AND 
		    b.board_id = #{board_id}
	]]>
	</select>
	
	<!-- 고객 QnA 상세페이지 관리자가 작성한 댓글 리스트 받아오기 -->
	<select id="getMyqComment" resultType="edu.bit.ex.vo.BoardCommentVO">
	<![CDATA[
		SELECT * FROM board_comment WHERE board_id = #{board_id}
	]]>
	</select>
	
	<!-- 고객 QnA 수정 -->
	<update id="setmyqnaModify">
	<![CDATA[
		UPDATE board SET board_name = #{board_name}, board_content = #{board_content}, inquiry_number = #{inquiry_number} WHERE board_id = #{board_id}
	]]>
	</update>

	<!-- 고객 QnA 삭제 -->
	<delete id="myqnaRemove">
	<![CDATA[
		DELETE FROM board WHERE board_id = #{board_id}
	]]>
	</delete>		 	
</mapper>