<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.bit.ex.mapper.OrderMapper">
	
	<select id="getProduct" resultType="edu.bit.ex.joinvo.PrdctOrderDetailVO">
		<![CDATA[
		select * from prdct where prdct_id = #{prdct_id} 
		]]>
	</select>
	
	<insert id="insertOrder">
		<![CDATA[
		insert into prdct_order
		(mbr_id) 
		values
		(#{mbr_id})
		]]>
	</insert>
	
	<select id="getOrderInfo" resultType="edu.bit.ex.vo.PrdctOrderVO">
		<![CDATA[
			select * from prdct_order where mbr_id=#{mbr_id}
		]]>
	</select>
	
	<insert id="insertOrderDetail">
		<![CDATA[
			insert into order_detail
			(prdct_id)
			values
			(#{prdct_id})
		]]>
	</insert>

	
	
</mapper>