<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.bit.ex.mapper.SellerMapper">

	<select id="getAddress" resultType="edu.bit.ex.vo.ShippingVO">
			<![CDATA[
				select shipping_address from shipping where mbr_id = 'prism'
			]]>
	</select>

	<select id="getOption" resultType="edu.bit.ex.vo.PrdctVO">
		<![CDATA[
			select * from prdct where prdct_id = #{prdct_id}
		]]>
	</select>
	
	<select id="getPrd" resultType="edu.bit.ex.vo.PrdctDetailVO">
		<![CDATA[
			select * from prdct_detail where prdct_id = #{prdct_id}
		]]>
	</select>

	<!-- 상품 정보 불러오기 - 상품명,일자? -->
	<select id="getProduct" resultType="edu.bit.ex.vo.PrdctVO">
		<![CDATA[
			select * from prdct
		]]>
	</select>
	
	<!-- 게시글 정보 불러오기 -->
	<select id="getBoard" resultType="edu.bit.ex.vo.BoardVO">
		<![CDATA[
			select * from board
		]]>
	</select>
	
	<!-- 상품 상세정보 불러오기 2 - 가격,옵션 -->
	<select id="getOrderDetail" resultType="edu.bit.ex.vo.OrderDetailVO">
		<![CDATA[
			select * from order_detail
		]]>
	</select>
	
	<!-- 주문상품 정보 불러오기 - 상품번호, 상품명 등...?  -->
	<select id="getPrdOrder" resultType="edu.bit.ex.vo.PrdctOrderVO">
		<![CDATA[
			select * from prdct_order
		]]>
	</select>
	
	<!-- 판매자 정보 불러오기 로그인시 -->	
	<select id="getSellerInfo" resultType="edu.bit.ex.vo.MbrVO">
		<![CDATA[
			select * from mbr where mbr_id='prism'
		]]>
	</select>	
	
	<!-- 판매자 정보 불러오기 (수정할 때) -->	
	<select id="getMemberInfo" resultType="edu.bit.ex.vo.MbrVO">
		<![CDATA[
			select * from mbr where mbr_id=#{m_id}
		]]>
	</select>	
	
	<!-- 판매자 주소 admin seller customer--> 
	<select id="getSellerAddress" resultType="edu.bit.ex.vo.ShippingVO">
	<![CDATA[
		select * from shipping where mbr_id=#{m_id}
	]]>
	</select>
	
	<!-- 판매자 정보 수정 admin seller-->
	<update id="sellerInfoUpdate">
	<![CDATA[
		update mbr set mbr_name=#{mbr_name}, mbr_pw=#{mbr_pw}, mbr_email=#{mbr_email}, contact_number=#{contact_number}  where mbr_id=#{mbr_id}
	]]>
	</update>
	
	<!-- 판매자 상품정보 수정 -->
	<update id="prdctUpdate">
	<![CDATA[
		update prdct set prdct_name=#{prdct_name}, prdct_price=#{prdct_price} where prdct_id=#{prdct_id}
	]]>
	</update>
	
	<!-- 판매자 상품정보 삭제...#{prdct_id}로 정보를 못불러온다;; 각 prdctID를 지정해야 삭제가능,,,왜이럴까.. -->
	<delete id="prdctDelete">
	<![CDATA[
		delete from prdct where prdct_id = #{prdct_id}
	]]>
	</delete>
	
	<!-- 상품등록하기 -->
	<insert id="prdInsert">
		<![CDATA[
			insert all into prdct (prdct_id, prdct_name, prdct_price, category_number, mbr_id) values
				('prism13',#{prdct_name}, #{prdct_price}, 2, 'prism' ) into prdct_detail (prdct_id, prdct_color, prdct_size, prdct_stock) values
					('prism13',#{prdct_color}, #{prdct_size} , #{prdct_stock}) 
						into board (board_id, board_name, board_content, board_type_number, board_date, board_like, board_hit) 
							values(board_seq.nextval, 'TEST', #{board_content}, 0, sysdate, 0, 0)
								select * from dual
		]]>
	</insert>

	<!-- 상품등록 첨부사진 작성 -->
	<!-- 상품등록 작성을 거친뒤 첨부사진을 올리는 상황이므로 업로드하는 board_id의 현재 번호를 가리키는 board_seq.currval을 insert 한다. -->
	<insert id="setPrdctImage">
		<![CDATA[
			INSERT INTO prdct_image (image_number, image_name, image_path, board_id) 
			VALUES (prdct_image_seq.nextval, #{uploadfiles},'C:\tetleaf\Branches\src\main\resources\static\hs\', board_seq.currval)
		]]>
	</insert>
	
	
</mapper>