<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.bit.ex.mapper.SellerMapper">
	
	<!-- 상품 내용 불러오기 -> 내용이 뒤죽박죽 불러와짐...쿼리 잘못짠건가ㅠㅠ -->
	<select id="getContent" resultType="edu.bit.ex.vo.BoardVO" >
		<![CDATA[			
			select board_content from board where board_id = #{board_id}
		]]>
	</select>
	
	<!-- 상품 카테고리 불러오기 -->
	<select id="getCategory" resultType="edu.bit.ex.vo.CategoryVO">
			<![CDATA[
				select * from category
			]]>
	</select>

	<!-- 판매자 주소 불러오기 -->
	<select id="getAddress" resultType="edu.bit.ex.vo.ShippingVO">
			<![CDATA[
				select shipping_address from shipping where mbr_id = 'prism'
			]]>
	</select>

	<!-- 상품정보 불러오기1 -->
	<select id="getOption" resultType="edu.bit.ex.vo.PrdctVO">
		<![CDATA[
			select * from prdct where prdct_id = #{prdct_id}
		]]>
	</select>
	
	<!-- 상품정보 불러오기2 -->	
	<select id="getPrd" resultType="edu.bit.ex.vo.PrdctDetailVO">
		<![CDATA[
			select * from prdct_detail where prdct_id = #{prdct_id}
		]]>
	</select>

	<!-- 메인페이지 주문정보 불러오기 -->
	<select id="getProduct" resultType="edu.bit.ex.vo.PrdctVO">
		<![CDATA[
			select * from prdct
		]]>
	</select>
	
		<!-- 메인페이지 주문정보 불러오기2-->
	<select id="getOrderDetail" resultType="edu.bit.ex.vo.OrderDetailVO">
		<![CDATA[
			select * from order_detail
		]]>
	</select>
	
	<!-- 게시글 정보 불러오기 -->
	<select id="getBoard" resultType="edu.bit.ex.vo.BoardVO">
		<![CDATA[
			select * from board
		]]>
	</select>
	
	<!-- 주문상품 정보 불러오기 - 상품번호, 상품명 등...?  -->
	<select id="getPrdctDetail" resultType="edu.bit.ex.vo.PrdctDetailVO">
		<![CDATA[
			select * from prdct_detail
		]]>
	</select>
	
	<!-- 주문상품 정보 불러오기 - 상품번호, 상품명 등...?  -->
	<select id="getPrdOrder" resultType="edu.bit.ex.vo.PrdctOrderVO">
		<![CDATA[
			select * from prdct_order
		]]>
	</select>
	
	<!-- 판매자 정보 불러오기 로그인시 -->	
	<select id="getSellerInfo" resultType="edu.bit.ex.vo.MbrVO">
		<![CDATA[
			select * from mbr where mbr_id='prism'
		]]>
	</select>	
	
	<!-- 판매자 정보 불러오기 (수정할 때) -->	
	<select id="getMemberInfo" resultType="edu.bit.ex.vo.MbrVO">
		<![CDATA[
			select * from mbr where mbr_id=#{m_id}
		]]>
	</select>	
	
	<!-- 판매자 주소 admin seller customer--> 
	<select id="getSellerAddress" resultType="edu.bit.ex.vo.ShippingVO">
	<![CDATA[
		select * from shipping where mbr_id=#{m_id}
	]]>
	</select>
	
	<!-- 판매자 정보 수정 admin seller-->
	<update id="sellerInfoUpdate">
	<![CDATA[
		update mbr set mbr_name=#{mbr_name}, mbr_pw=#{mbr_pw}, mbr_email=#{mbr_email}, contact_number=#{contact_number}  where mbr_id=#{mbr_id}
	]]>
	</update>
	
	<!-- 판매자 상품정보 수정 -->
	<update id="prdctUpdate">
	<![CDATA[
		update prdct set prdct_name=#{prdct_name}, prdct_price=#{prdct_price} where prdct_id=#{prdct_id}
	]]>
	</update>
	
	<!-- 판매자 상품옵션 수정 -->
	<update id="prdctDetailUpdate">
	<![CDATA[
		update prdct_detail set prdct_color=#{prdct_color}, prdct_size=#{prdct_size}, prdct_stock=#{prdct_stock} where prdct_id=#{prdct_id}
	]]>
	</update>
	
	<!-- 판매자 상품내용 수정 -->
	<update id="prdctContentUpdate">
	<![CDATA[
		update board set board_content=#{prdct_name} where board_id=#{board_id}
	]]>
	</update>
	
	
	<!-- 판매자 상품정보 삭제... -->
	<delete id="prdctDelete">
	<![CDATA[
		delete from prdct where prdct_id = #{prdct_id}
	]]>
	</delete>
	
	<!-- 상품등록하기 -->
	<insert id="prdInsert">
		<![CDATA[
			insert all into prdct (prdct_id, prdct_name, prdct_price, category_number , mbr_id) values
				('p6',#{prdct_name}, #{prdct_price}, 9 ,'prism' ) 
					into prdct_detail (prdct_id, prdct_color, prdct_size, prdct_stock) values
						('p6',#{prdct_color}, #{prdct_size} , #{prdct_stock}) 
							into board (board_id, board_name, board_content, board_type_number, board_like, board_hit, mbr_id) 
								values(board_seq.nextval, 'TEST', #{board_content}, 6, 0, 0, 'prism')
										select * from dual
		]]>
	</insert>

	<!-- 상품등록 첨부사진 작성 -->
	<!-- 상품등록 작성을 거친뒤 첨부사진을 올리는 상황이므로 업로드하는 board_id의 현재 번호를 가리키는 board_seq.currval을 insert 한다. -->
	<insert id="setPrdctImage">
		<![CDATA[
			INSERT INTO prdct_image (image_number, image_name, image_path, board_id) 
			VALUES (prdct_image_seq.nextval, #{uploadfiles},'C:\tetleaf\Branches\src\main\resources\static\hs', board_seq.currval)
		]]>
	</insert>
	
	<select id="getFileName" resultType="edu.bit.ex.joinvo.BoardPrdctImageVO" >
		<![CDATA[			
			select b.board_id, a.board_id, a.image_number, a.image_name from prdct_image a, board b where a.board_id = b.board_id 
		]]>
	</select>
	
</mapper>