@charset "UTF-8";

@media (max-width: 540px) {
	.container {
		padding: 1%;
	}
		
	img {
		width: auto;
		height: auto;
		max-width: 285px;
		max-height: 400px;
	}
			
	iframe {
		width: auto;
		height: auto;
		max-width: 285px;
		max-height: 400px;
	}
	
	/* 소제목 폰트 조절 */
	.subheading_font {
		text-align: center;
	}
	
	/* 매거진 게시글 댓글에 있는 폰트 조절 */
	.comment_font {
		font-size: 13px;
		text-align: left;
	}
}